<div id="the-houses">
  <br/>
  <h1 class="threedeefy">The houses</h1>
<% @houses.each do |house| %>
  <div class="house">
    <h2 class="outlined"><%= link_to house.name, house_path(house) %></h2>
    <img src="<%= house.img_url %>"/>
  <div>
<% end %>
</div>
<p>
  <%= link_to 'Back to Main', root_path%>
</p>
