<h1 class="outlined"><%= @student.name %></h1>
<h2 class="outlined"><%= @student.house.name %></h2>
<div class="student">
  <%= image_tag @student.img_url %>
</div>
<p>
  <%= link_to 'Back to Students List', students_path, class: "outlined" %>
</p>
