/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url("http://fnt.webink.com/wfs/webink.css/?project=548D2AB5-FEF2-4BB9-BA39-A9506DCC5723&fonts=81DCB682-CEF0-F2EE-50B4-29BCB883721E:f=Ablefont");
 @import url(http://fonts.googleapis.com/css?family=Irish+Grover);

 @font-face{
	font-family: 'harrp';
	src: url('harrp-webfont.eot');
	src: url('harrp-webfont.eot?#iefix') format('embedded-opentype'),
	     url('harrp-webfont.woff') format('woff'),
	     url('harrp-webfont.ttf') format('truetype'),
	     url('harrp-webfont.svg#webfont') format('svg');
}

 body {
   top:0;
   margin:0;
   padding: 0;
   font-family: 'harrp', Ablefont, Irish Grover;
   text-align: center;
   font-color: #7C2A30;
   background-color: #000;
   background-image:url('hogwarts-school.jpg');
   background-size: cover;
   background-repeat: no-repeat;
 }

 .students-list {
   background-image: url('great-hall.jpg');
   background-size: cover;
   background-repeat: repeat;
 }

 #the-houses{
   margin-top:-25px;
   background-image: url('hogwarts-summer-lg.jpg');
   background-size: contain;
   background-repeat: repeat;
 }



 nav {
   padding: 15px;
   background-color: #D8AE48;
   border-radius: 40px 0 40px 0;
 }

 h1 {
   font-size: 36px;
 }

 h2 {
   font-size: 22px;
 }

 .student {
   display: inline-block;
   background-color: #D8AE48;
   width: 350px;
   text-align: center;
   margin: 10px;
   padding: 10px;
   border: 10px solid black;
   border-radius: 10%;
 }

 .house {
   display: inline-block;
 }

 .house img {
   display: block;
 }

 img {
   border-radius: 40%;
   height: 300px;
 }

 input {
   font-family: "harrp",fantasy, serif;
   font-size: 1em;
 }

 label {
   font-size: 1.25em;
 }

 a{
   font-size: 1.5em;
   color:white;
   text-decoration: none;
 }

 a:hover {
   color:#FFAA00;
 }

 .outlined {
   color: white;
   text-shadow: 1px 1px 2px black, 0 0 2px black, 0 0 5px black;
 }


 .threedeefy {
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
   cursor: pointer;
   border: none;
   font: normal 3em/normal "harrp";
   color: rgba(255,255,255,1);
   text-align: center;
   -o-text-overflow: clip;
   text-overflow: clip;
   text-shadow: 0 1px 0 rgb(204,204,204) , 0 2px 0 rgb(201,201,201) , 0 3px 0 rgb(187,187,187) , 0 4px 0 rgb(185,185,185) , 0 5px 0 rgb(170,170,170) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 5px 10px rgba(0,0,0,0.247059) , 0 10px 10px rgba(0,0,0,0.2) , 0 20px 20px rgba(0,0,0,0.14902) ;
   -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
   -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
   -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
   transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
 }
